@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
/* VARIABLE */

:root {
    --brackground: #eeeeee;
    --text-primary: #111111;
    --text-secondary: #555;
    --color-primary: #7db569;
    --color-secondary: #999999;
    --color-validated: #2aa312;
}

/* GENERAL */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* HOME */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    max-width: 940px;
    width: 52%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 30px 0 50px;
}

header .home {
    font-size: 24px;
    line-height: 27px;
    margin-right: 123px;
    font-family: serif;
}

header nav {
    width: 100%;
}

header nav ul {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    align-items: center;
    list-style-type: none;
}

header nav ul li {
    margin-right: 30px;
}

header nav ul li:last-child {
    margin-left: auto;
    margin-right: 0;
}

header a {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: var(--text-primary);
    transition: color 300ms font-weight 300ms;
}

header a:hover, header a.active {
    font-weight: 600;
    color: var(--color-primary);
}

header a img {
    height: 48px;
}

footer {
    background-color: var(--color-secondary);
    height: 62px;
    text-align: center;
    padding: 23px;
    margin-top: 40px;
    width: 100vw;
    ;
}

footer p {
    font-size: 14px;
    color: var(--text-secondary);
}

/* INPUTS */

a:hover {
    cursor: pointer;
}

.animar-input {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    font-weight: bold;
}

.animar-input input, .animar-input select, .animar-input textarea {
    background-color: transparent !important;
    color: var(--text-secondary);
    font-size: 16px;
    line-height: 24px;
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    transition: border-color 300ms ease-out;
    -webkit-transition: border-color 300ms ease-out;
    -moz-transition: border-color 300ms ease-out;
}

.animar-input input, .animar-input select {
    border-bottom: 1px solid var(--text-secondary);
}

.animar-input select {
    margin-top: 5px;
}

.animar-input textarea {
    border: 1px solid var(--text-secondary);
    border-radius: 16px;
    padding: 8px;
}

.animar-input select>option {
    background: var(--color-primary);
}

.animar-input input[type=date] {
    color: var(--color-primary);
}

.animar-input label {
    position: absolute;
    top: 6px;
    left: 16px;
    color: var(--text-secondary);
    pointer-events: none;
    /**/
    transition-property: color, font-size, font-weight, top, left;
    -webkit-transition-property: color, font-size, font-weight, top, left;
    -moz-transition-property: color, font-size, font-weight, top, left;
    -o-transition-property: color, font-size, font-weight, top, left;
    /**/
    transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    /**/
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
}

.animar-input p {
    color: var(--text-secondary);
    text-align: left;
    margin-top: 10px;
    padding: 0 6px;
}

.animar-input input:focus, .animar-input input.active, .animar-input select.active, .animar-input select:focus {
    border-bottom: 2px solid var(--text-secondary);
    color: var(--text-secondary);
}

.animar-input input[type=date]:focus, .animar-input input[type=date].active {
    color: var(--text-secondary);
}

.animar-input textarea.active, .animar-input textarea:focus {
    border: 2px solid var(--text-secondary);
}

.animar-input input:focus~label, .animar-input select:focus~label, .animar-input textarea:focus~label, .animar-input label.active {
    top: -16px;
    left: 4px;
    color: var(--text-secondary);
    font-size: 12.5px;
    font-weight: bold;
}

.animar-input a {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
}

.animar-input a img {
    width: 20px;
    height: 20px;
}

/* BOTôES */

.btn-geral {
    display: inline-block;
    font-size: 16px;
    height: 48px;
    width: 100%;
    min-width: 100px;
    max-width: 240px;
    margin-bottom: 0;
    padding: 0 12px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    transition: filter 300ms;
}

.btn-geral:hover {
    filter: brightness(0.9);
}

.btn-primary {
    background-color: var(--color-primary);
}

.btn-secondary {
    background-color: var(--color-secondary);
}

.button-container {
    text-align: right;
}

/* CONTAINERS */

.div-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
}

.div-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 16px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.number {
    text-align: right;
}